<!DOCTYPE html>
<html  lang = "pt-br">
    <head> 
        <meta cherset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title> 
            {% block title %}  Análise de dados do DATASUS - Febre Amarela {% endblock %}
        </title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    </head>

    <header class="topbar topbar-index">
            

        <a class="marca" href="{{ url_for('home') }}">
            <span class="marca-title">Análise de dados<br>do DATASUS</span>
            <span class="marca-divider" aria-hidden="true"></span>
            <span class="marca-subtitle">{{ dados.subtitulo }}</span>
        </a>
        
        <nav class = "nav-abas">
            <span class = "abas-teoria"> <a href = {{ url_for('opcao', num = 1) }}> Estudo Teórico </a> </span>
            <span class = "abas-dados"> <a href = {{ url_for('opcao', num = 2) }}> Definição da Base de Dados </a> </span>
            <span class = "abas-opcao"> <a href = {{ url_for('opcao', num = 3) }}> Sobre </a> </span>
        </nav>

    </header>

    <body>

        <main> 
            {% block content %} {% endblock %}
        </main>

        <script src="{{ url_for('static', filename='main.js') }}"></script>
        {% block scripts %} {% endblock %}
    </body>
</html>
    
